<% if post.flagged %>
  <%= render partial: '/forem/posts/flagged_post', locals: {post: post} %>
<% else %>
  <li id='<%= dom_id(post) %>' class="row forum-post">
    <a name='post-<%= post.id %>'></a>

    <aside class="span1 forum-post-meta-data">
      <%= image_tag post.user.custom_avatar_url('60x60'), class: 'forum-topic-author-img' %>
    </aside>

    <div class="span9">
      <header>
        <%= link_to_if Forem.user_profile_links, post.user, [main_app, post.user], class: 'forum-post-author' %>
        <span>says</span>
      </header>

      <article class="forum-post-article">
        <ul class='actions'>
          <% if forem_user %>
            <% if can?(:reply, post.topic) %>
              <% if post.topic.can_be_replied_to? %>
                <li><%= link_to t('reply', :scope => 'forem.topic'), forem.new_topic_post_path(post.topic, :reply_to_id => post.id), class: "forum-post-reply" %></li>
              <% end %>
              <% if post.topic.can_be_replied_to? %>
                <li><%= link_to t('quote', :scope => 'forem.topic'), forem.new_topic_post_path(post.topic, :reply_to_id => post.id, :quote => true) %></li>
              <% end %>
            <% end %>

            <% if post.owner_or_admin?(forem_user) %>
              <% if can?(:edit_post, post.topic.forum) %>
                <li><%= link_to t('edit', :scope => 'forem.post'), forem.edit_topic_post_path(post.topic, post) %></li>
              <% end %>
              <li><%= link_to t('delete', :scope => 'forem.topic'), forem.topic_post_path(post.topic, post), :method => :delete, :confirm => t("are_you_sure") %></li>

            <% end %>

            <li><%= link_to t("flag.#{post.flagged}", :scope => 'forem.post'), forem.topic_post_flag_path(post.topic, post), :method => :put %></li>
          <% end %>
        </ul>

        <h4 class="forum-post-title">
          Growing Trade - What works for you?
        </h4>

        <div class="forum-post-body">
          <%= forem_emojify(as_sanitized_text(post.text)) %>

          <% if post.reply_to %>
            <span class='in_reply_to'>
              <%= link_to "#{ t("forem.post.in_reply_to") } #{ post.reply_to.user }", "#post-#{post.reply_to.id}" %>
            </span>
          <% end %>
          <div style="clear:right;"></div>
        </div>

        <div class="forum-post-details">
          <span class="forum-post-date"><%= post.created_at.to_s(:long) -%> <%= "#{time_ago_in_words(post.created_at)} #{t("ago")}" %></span>

          <% if post.pending_review? %>
            <div class='moderation'>
              <%= t(".pending_review") %>
              <% if forem_admin_or_moderator?(post.topic.forum) %>
                <% if local_assigns[:mass_moderation] %>
                  <%= render "forem/posts/moderation_tools", :post => post %>
                <% else %>
                  <%= form_tag forem.forum_moderate_posts_path(post.topic.forum), :method => :put do %>
                    <%= render "forem/posts/moderation_tools", :post => post %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </article>

    </div>
  </li>
<% end %>
