<% if can?(:read, forum) %>
  <tr class="forum-topics-item">
    <td class="forum-topics-item-cell">
      <%= link_to t('edit', :scope => 'forem.admin.forums'), forem.edit_admin_forum_path(forum) %>
    </td>
    <td class="forum-topics-item-cell">
      <%= link_to t('delete', :scope => 'forem.admin.forums'), forem.admin_forum_path(forum), :method => :delete, :confirm => t("delete_confirm", :scope => "forem.admin.forums") %>
    </td>
    <td class="forum-topics-item-cell">
      _FORUM
      <%= link_to forem_emojify(forum.title), forem.forum_path(forum), :class => "forum-topics-title" %>
      <p>
        <%= forem_format(forum.description) %>
      </p>
      <p class="forum-topic-author">
        <% if last_post = forum.last_post_for(forem_user) -%>
          <%= link_to(forem_emojify(last_post.topic.subject), forem.forum_topic_path(forum, last_post.topic)) -%> <%= t('by') %> <%= last_post.user %> <%= t('time_ago_in_words', :time => time_ago_in_words(last_post.created_at)) -%>
        <% else %>f
          <%= t('forem.forums.index.none') -%>
        <% end %>
      </p>
      <br>
      <span class='moderators'>
        <strong><%= t('.moderators') %>:</strong>
        <% if forum.moderators.exists? %>
          <% forum.moderators.map do |moderator| %>
            <%= link_to moderator, [forem, :admin, moderator] %>
          <% end.to_sentence %>
        <% else %>
          None
        <% end %>
      </span>
    </td>

    <td class="text-center forum-topics-item-cell">
      <%= forum.topics.count %>
    </td>

    <td class="text-center forum-topics-item-cell">
      <%= forum.posts.count %>
    </td>

    <td class="text-center forum-topics-item-cell">
      <%= forum.views.count %>
    </td>
  </tr>
<% end %>