<div class="row">
  <div class="span9">
    <%= simple_form_for [forem, @forum, @topic] do |f| %>
      <div class="row">
        <div class="span8">
          <%= f.input :subject, input_html: {class: 'span6'} %>
        </div>
      </div>


      <%= f.simple_fields_for :posts do |post| %>
        <%= render :partial => "forem/posts/form", :locals => { :f => post }%>
      <% end %>

      <%= f.submit t('save', scope: :general), class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>


