<%= currently_at t('topics', scope: 'layouts.forums') %>

<%= render :partial => 'forem/forums/head', :locals => { :forum => @forum } %>

<%= forem_pages_widget(@topics) %>

<!-- Topics -->
<div id="forum" class="forum">
  <div class="forum-controls">
    <!-- <p class="forum-controls-timezone">All time zones are in conference time zone: (US.Mountain)</p> -->
    <!-- <p class="forum-controls-sort">Sort By: <a href="#" class="active">Updated</a> <a href="#">Most Active</a></p> -->
  </div>

  <table class="table-striped forum-topics">

    <thead class="forum-topics-header">

      <tr>
        <th class="span1"></th>
        <th class="span1"></th>
        <th class="span5"><%= t('forem.topic.headings.topic') -%></th>
        <th class="span1"><%= t('forem.topic.headings.posts') -%></th>
        <th class="span1"><%= t('forem.topic.headings.views') -%></th>
        <th class="span2"><%= t('forem.topic.headings.latest') -%></th>
      </tr>

    </thead>

    <tbody class="forum-topics-body">
      <% if @topics.empty? %>
        <tr><td colspan='5' align='center'><%= t('forem.topic.none') %></td></tr>
      <% end %>

      <%= render @topics %>
    </tbody>

  </table>

</div>

<%= forem_pages_widget(@topics) %>